.spinnerContainer {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  .spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    opacity: 1;
    z-index: 1000;
  }
}
