.container {
  display: grid;
  grid-template-columns: auto 499px;
  height: 100vh;
  .imageBlock {
    background-image: url('/src/assets/image/auth/city.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mainContent {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
